* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: auto 0;
  
  max-width: 945px;

  font-family: Arial;
}

ul {
  padding: 0;

  list-style: none;
}

figure,
h1,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

a,
button {
  color: #828282;
}

a[data-active],
button[data-active] {
  color: #070707;
}

a:hover {
  color: #070707;
  text-decoration: underline;
}

/* #summary, */
#about,
#skills,
#portfolio {
  padding: 100px 0;
}

.subtitle {
  margin: 0;
  margin-bottom: 40px;

  font-size: 34px;
  text-align: center;
}

/* header */
#header {
  padding: 32px 0;
  margin-bottom: 40px;

  border-bottom: 1px solid #828282;
}

#header ul {
  margin: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

#header li {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
}

/* summary */
#summary figcaption {
  margin-bottom: 50px;

  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

#summary h1 {
  margin: 0;
  
  width: 140px;

  font-size: 48px;
  font-weight: 700;
}

#summary div {
  transform: rotate(-90deg);
}

#summary div {
  width: 25px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#summary div button {
  font-weight: 700;
  
  background-color: initial;

  border: none;
  cursor: pointer;
}

/* about */
#about {
  margin: 0 auto;

  font-size: 18px;
  text-align: center;
}

#about {
  margin: 0;
}

/* skills */
#skills ul {
  margin: 0;
  margin-bottom: 60px;

  display: flex;
  justify-content: space-between;

  font-size: 18px;
  text-align: center;
}

#skills li {
  width: 168px;
}

#skills span {
  margin-bottom: 60px;

  display: block;

  font-size: 18px;
  text-align: center;
}

#skills li {
  width: 168px;
  height: 200px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#skills img {
  margin: 0 auto;
  
  display: block;
}

#skills h3 {
  text-align: center;
}

/* portfolio */
#portfolio {
  background: #f6f6f6;
}

#portfolio img {
  margin-bottom: 44px;
}

#portfolio a {
  display: block;

  font-size: 18px;
  text-align: center;

  color: #070707;
}

#portfolio figure:not(:last-child) {
  margin-bottom: 100px;
}

/* footer */
#footer {
  padding: 60px 0 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#footer p {
  margin: 0;
  margin-bottom: 40px;

  max-width: 275px;

  font-size: 18px;
  text-align: center;
}

#footer button {
  padding: 10px 24px;
  margin-bottom: 80px;

  font-size: 18px;

  border-radius: 24px;
  color: #fff;
  background: #070707;
  cursor: pointer;
}

#footer ul {
  margin-bottom: 44px;

  width: 360px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#footer li {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#footer a {
  width: 40px;
  height: 40px;

  display: block;
}

#LinkedIn {
  background-image: url("../src/footer_img/LinkedIn.svg");
}

#Instagram {
  background-image: url("../src/footer_img/Inst.svg");
}

#Behance {
  background-image: url("../src/footer_img/behance.svg");
}

#Dribble {
  background-image: url("../src/footer_img/Dribble.svg");
}

#footer span {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  
  color: #828282;
}
